@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0px;
  color: rgb(var(--foreground-rgb));
  background: #000235;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inner-grid {
  width: 100%;
}

@media (width <= 426px) {
  .inner-grid {
    width: 385px;
  }
}

@media (width <= 376px) {
  .inner-grid {
    width: 335px;
  }
}

@media (max-width: 320px) {
  .inner-grid {
    width: 280px;
  }
}
